<h3>Satellite Counts</h3>
<div class="counts" >
    <div>Total: <span>{{satellites.length}}</span> </div>
    <div>Space Debris: <span >{{rowCount('space debris')}}</span></div>
    <div>Communication: <span>{{rowCount('communication')}}</span></div>
    <div>Probe: <span>{{rowCount('probe')}}</span></div>
    <div>Positioning: <span>{{rowCount('positioning')}}</span></div>
    <div>Space Station: <span>{{rowCount('space station')}}</span></div>
    <div>Telescope: <span>{{rowCount('telescope')}}</span></div>
</div>
